footer {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 10px;
    div {
        margin: 5px
    }
    #socials {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        a {
            padding: 10px;
            color: inherit;
            cursor: pointer;
            transition: opacity .7s, scale .7s;
            i {
                cursor: pointer;
            }
        }
        a:hover {
            opacity: .7;
            scale: 1.1;
        }
        a:active {
            scale: .9;
            opacity: 1;
        }
    }
}